/* .customerTechContainer {
}

.customerTechHeader {
} */

.customerTechParentDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.customerTechDiv {
  display: flex;
  flex-direction: row;
}
